ENVIRONMENT="local"
TOKEN_SECRET="<SET_SECRET_FOR_JWT_AUTHENTICATION>"
ERROR_NOTIFICATION_TOKEN="<SET_TOKEN_FOR_INIALUM_ERROR_NOTIFICATION_SERVICE>"
AWS_ACCESS_KEY_ID="dummy"
AWS_SECRET_ACCESS_KEY="dummy"
SENDGRID_TOKEN="dummy"
CLOUDFLARE_ACCOUNT_ID="dummy"
CLOUDFLARE_D1_TOKEN="dummy"
PRODUCTION_MAIL_SERVICE_LOG_DB_ID="dummy"
